<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Butchery{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body id="login">

{% block content %}
<div class="reg_form" style="margin-top:20px;">
        <div class="loginlogo">
            <img src="{% static 'images/logo.jpg' %}" alt="Logo">
        </div>

        <div id="reg_form">
            <h2>Admin Registration</h2>
            <form method="POST">
                {% csrf_token %}
                {{form.as_table}}        
                    <button class="logout_btn" type="submit">Register</button>
                </form>
                Already have an account? <a href="/login"> <br><strong>Login Here</strong></a>!
        </div>
</div>
{% endblock %}

{% comment %} <footer>
    <div class="reg_footer">
    <p>&copy; 2024 Butchery</p>
</div>
</footer> {% endcomment %}
</body>
</html> 